@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: gobold-bold;
  src: url(../tipografia/GoboldBoldItalic.otf); }

@font-face {
  font-family: gobold-regular;
  src: url(../tipografia/GoboldRegularItalic.otf); }

@font-face {
  font-family: helvetica-bold;
  src: url(../tipografia/HelveticaNeue-Bold.ttf); }

@font-face {
  font-family: helvetica-light;
  src: url(../tipografia/HelveticaNeue-Light.ttf); }

@font-face {
  font-family: helvetica-medium;
  src: url(../tipografia/HelveticaNeue-Medium.ttf); }

@font-face {
  font-family: helvetica-thin;
  src: url(../tipografia/HelveticaNeue-Thin.ttf); }

@font-face {
  font-family: helvetica-ultralight;
  src: url(../tipografia/HelveticaNeue-Ultralight.ttf); }

/* ----------------- Media query para dispositivos entre 375 y 768px - Mobile first ----------------------------------------- */
@media screen and (min-width: 375px) and (max-width: 768px) {
  .body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "onePage" "twoPage" "threePage" "fourPage" "fivePage" "sixPage" "sevenPage" "eightPage" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }

/* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
/* Media query para dispositivos entre 769px y 1200px - Tablet */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "onePage" "twoPage" "threePage" "fourPage" "fivePage" "sixPage" "sevenPage" "eightPage" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }

/* ------------ navegacion ------------ */
/* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
/* Media query para dispositivos mayores a 1201px - Desktop */
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "onePage" "twoPage" "threePage" "fourPage" "fivePage" "sixPage" "sevenPage" "eightPage" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }

/* Inicio del código para el proyecto coderconf */
.onePage {
  grid-area: onePage;
  width: 100%;
  height: 130vh;
  padding: 0px;
  background-image: url(../images/prueba3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* header y navegación */
  /* Datos del main */ }
  .onePage .navegacion {
    display: flex;
    height: 5%;
    /* header */
    /* navegación */ }
    .onePage .navegacion .logo {
      padding: 10px;
      width: 50%; }
    .onePage .navegacion .navbar {
      margin: 0%;
      padding: 0%;
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end; }
      .onePage .navegacion .navbar #btn-menu-checkbox {
        display: none; }
      .onePage .navegacion .navbar .btn-menu {
        display: block;
        width: 50px;
        height: 50px;
        padding: 10px;
        /* position: relative; */ }
      .onePage .navegacion .navbar .btn-menu:hover {
        display: block;
        /* cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3); */ }
      .onePage .navegacion .navbar .menu {
        display: none; }
        .onePage .navegacion .navbar .menu .ul {
          display: block;
          display: flex;
          flex-direction: column;
          list-style: none; }
        .onePage .navegacion .navbar .menu .li {
          color: white; }
        .onePage .navegacion .navbar .menu .li:hover {
          background: rgba(0, 0, 0, 0.3); }
        .onePage .navegacion .navbar .menu .enlaceNavbar {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          font-family: helvetica-light;
          color: white;
          font-size: 1rem; }
      .onePage .navegacion .navbar #btn-menu-checkbox:checked ~ .menu {
        position: relative;
        display: block; }
  .onePage .pageOne-article {
    width: 100%;
    height: 65%;
    /* margin: 10px 0px; */
    /* padding: 0px 15px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .onePage .pageOne-article .pageOne-title {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 28px;
      color: white;
      line-height: 40px;
      text-align: center; }
    .onePage .pageOne-article .pageOne-title-h2 {
      font-family: gobold-regular;
      text-transform: uppercase;
      font-size: 24px;
      color: white;
      line-height: 24px;
      text-align: center; }
    .onePage .pageOne-article .pageOne-title-h3 {
      font-size: 16px;
      color: white;
      line-height: 24px;
      text-align: center; }
    .onePage .pageOne-article .pageOne-images {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .onePage .pageOne-article .pageOne-images .pageOne-imageOne {
        width: 100%;
        padding: 5px; }
  .onePage .anexo {
    width: 100%;
    height: 30%;
    padding: 5px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .onePage .anexo .anexo-imageOne {
      padding: 0px 10px; }
    .onePage .anexo .anexo-imageTwo {
      padding: 10px; }

.twoPage {
  grid-area: twoPage;
  width: 100%;
  height: 100vh;
  margin: 0%;
  padding: 10px;
  display: flex;
  flex-direction: column; }
  .twoPage .twoPage-imagen {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .twoPage .twoPage-imagen .twoPage-imagen-logo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .twoPage .twoPage-texto {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .twoPage .twoPage-texto .twoPage-texto-h2 {
      text-align: center;
      font-size: 1rem; }
    .twoPage .twoPage-texto .twoPage-texto-p {
      font-family: helvetica-medium;
      padding-top: 20px;
      text-align: center;
      font-size: 1rem; }

.threePage {
  grid-area: threePage;
  padding: 10px 0px;
  width: 100%;
  height: 100vh;
  background-color: #F2F2F2; }
  .threePage .threePage-logo {
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .threePage .threePage-logo .threePage-logo-h3 {
      padding: 5px;
      font-family: gobold-bold;
      text-transform: uppercase;
      text-align: center; }
    .threePage .threePage-logo .threePage-logo-h4 {
      padding: 5px;
      font-family: helvetica-medium;
      text-align: center;
      line-height: 20px; }
  .threePage .threePage-imagen {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center; }
  .threePage .threePage-imagen-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; }

.fourPage {
  grid-area: fourPage;
  width: 100%;
  height: 200vh;
  padding: 20px 0px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fourPage .fourPage-divSpeaker {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 40px;
      color: yellow;
      padding: 10px 0px; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h3 {
      font-family: helvetica-bold;
      font-size: 24px;
      color: white;
      padding: 5px 0px; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-p {
      font-family: helvetica-light;
      line-height: 20px;
      padding: 10px;
      font-size: 16px;
      color: white;
      text-align: center; }
  .fourPage .fourPage-divInvitado {
    width: 100%;
    padding: 20px 20px 0px; }
    .fourPage .fourPage-divInvitado .fourPage-divInvitado-div {
      display: flex;
      justify-content: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-div .fourPage-divInvitado-div-h2 {
        font-family: gobold-regular;
        text-transform: uppercase;
        font-size: 24px;
        color: yellow; }
    .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos {
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h2 {
        font-family: gobold-regular;
        text-transform: uppercase;
        padding: 10px;
        font-size: 32px;
        color: white;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h3 {
        font-family: helvetica-light;
        padding: 5px;
        font-size: 16px;
        color: gray;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h4 {
        font-family: helvetica-light;
        padding: 10px;
        font-size: 16px;
        color: #E0FF00;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-p {
        font-family: helvetica-light;
        padding: 10px;
        font-size: 16px;
        color: white;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h5 {
        font-family: helvetica-light;
        padding: 0px;
        font-size: 16px;
        color: #E0FF00;
        text-align: center; }
  .fourPage .fourPage-divCarousel {
    width: 80%; }
    .fourPage .fourPage-divCarousel .fourPage-divCarousel-divInvit {
      width: 100%;
      padding: 10px 20px 20px; }
      .fourPage .fourPage-divCarousel .fourPage-divCarousel-divInvit .fourPage-divCarousel-divInvit-h2 {
        font-family: gobold-regular;
        text-transform: uppercase;
        font-size: 24px;
        color: yellow;
        text-align: center; }
    .fourPage .fourPage-divCarousel .carousel-h5 {
      font-family: gobold-regular;
      text-transform: uppercase;
      font-size: 24px;
      color: white;
      text-align: center; }
    .fourPage .fourPage-divCarousel .carousel-h6 {
      font-family: helvetica-light;
      font-size: 16px;
      color: gray;
      text-align: center; }
    .fourPage .fourPage-divCarousel .carousel-p {
      font-family: helvetica-light;
      font-size: 20px;
      color: yellow;
      text-align: center; }

.fivePage {
  grid-area: fivePage;
  width: 100%;
  height: 100vh;
  padding: 10px; }
  .fivePage .fivePage-divTitle {
    width: 90%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 32px; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 32px;
      color: #8215BC;
      text-align: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-h3 {
      font-family: helvetica-bold;
      font-size: 24px;
      text-align: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-p {
      font-family: helvetica-light;
      font-size: 16px;
      text-align: center;
      line-height: 16px; }
  .fivePage .fivePage-divGral {
    width: 100%;
    height: 75vh;
    overflow-y: scroll;
    padding: 10px 0px; }
    .fivePage .fivePage-divGral .fivePage-divGral-agenda {
      width: 100%;
      padding: 10px 0px; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-h2 {
        padding: 5px;
        font-family: gobold-bold;
        text-transform: uppercase;
        font-size: 32px;
        color: #8215BC; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-h3 {
        padding: 5px;
        font-family: gobold-regular;
        text-transform: uppercase;
        font-size: 24px; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-h4 {
        padding: 5px;
        font-family: helvetica-regular;
        font-size: 16px;
        color: #8215BC; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-p {
        padding: 5px;
        font-family: helvetica-regular;
        font-size: 16px;
        color: #505050; }

.sixPage {
  grid-area: sixPage;
  width: 100%;
  height: 100vh;
  padding: 15px 0px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sixPage .sixPage-div {
    width: 90%;
    height: 25vh;
    /* border: 1px solid white; */ }
    .sixPage .sixPage-div .sixPage-div-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      color: #E4FF22;
      font-size: 36px;
      text-align: center;
      line-height: 48px; }
    .sixPage .sixPage-div .sixPage-div-h3 {
      font-family: helvetica-regular;
      color: white;
      font-size: 24px;
      text-align: center;
      line-height: 48px; }
    .sixPage .sixPage-div .sixPage-div-p {
      font-family: helvetica-light;
      color: white;
      font-size: 16px;
      text-align: center;
      line-height: 24px; }
  .sixPage .sixPage-form {
    width: 90%;
    height: 75vh;
    padding-top: 15px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sixPage .sixPage-form .sixPage-form-input {
      width: 90%;
      margin: 10px 0px;
      padding: 5px 5px;
      border: 1px solid #E4FF22;
      border-radius: 2px;
      background-color: black;
      color: #E4FF22;
      font-family: helvetica-light; }
    .sixPage .sixPage-form ::placeholder {
      color: gray;
      font-family: helvetica-light; }
    .sixPage .sixPage-form .sixPage-form-btn {
      margin: 35px auto 0px;
      padding: 15px 50px;
      background-color: #E4FF22;
      border: #E4FF22 1px solid;
      border-radius: 50px;
      color: black;
      font-family: helvetica-light; }

.sevenPage {
  grid-area: sevenPage;
  width: 100%;
  max-height: 100vh;
  padding: 10px;
  position: relative; }
  .sevenPage .sevenPage-sponsors {
    height: 20%;
    padding: 25px; }
    .sevenPage .sevenPage-sponsors .sevenPage-sponsors-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      color: #8215BC;
      font-size: 48px;
      text-align: center; }
  .sevenPage .sevenPage-imgSponsors {
    height: 80%;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .sevenPage .sevenPage-imgSponsors .sevenPage-imgSponsors img {
      padding: 25px 0px; }

.eightpage {
  grid-area: eightPage;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .eightpage .eightpage-div-title {
    width: 90%;
    height: 30%; }
    .eightpage .eightpage-div-title .eightpage-div-title-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 36px;
      color: #8215BC;
      text-align: center;
      margin-bottom: 10px; }
    .eightpage .eightpage-div-title .eightpage-div-title-h3 {
      font-family: helvetica-bold;
      margin: 10px 0px;
      font-size: 24px;
      color: #131313;
      text-align: center; }
  .eightpage .eightpage-div-form {
    width: 90%; }
    .eightpage .eightpage-div-form .form {
      height: 70%;
      padding: 20px 10%;
      border: 1px solid #F2F2F2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .eightpage .eightpage-div-form .form .input {
        width: 100%;
        margin: 15px 0px;
        padding: 10px 5px;
        border: 1px solid black;
        border-radius: 3px; }
      .eightpage .eightpage-div-form .form ::placeholder {
        font-family: helvetica-bold;
        color: #8215BC; }
      .eightpage .eightpage-div-form .form .btn {
        margin: 30px auto;
        padding: 15px 50px;
        background-color: #8215bc;
        border: black 1px solid;
        border-radius: 50px;
        color: white; }

.footerPage {
  grid-area: footerPage;
  width: 100%;
  height: 50vh;
  padding: 25px 25px 25px 25px;
  background-color: black;
  display: grid;
  grid-template-areas: "footerPage-coderconf footerPage-coderhouse" "footerPage-redesSociales footerPage-redesSociales" "footerPage-copyright footerPage-copyright";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.3fr 0.2fr; }
  .footerPage .footerPage-coderconf {
    grid-area: footerPage-coderconf;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footerPage .footerPage-coderconf .footerPage-div {
      padding: 10px; }
      .footerPage .footerPage-coderconf .footerPage-div .footerPage-div-h3 {
        font-family: helvetica-light;
        padding: 5px;
        color: white; }
  .footerPage .footerPage-coderhouse {
    grid-area: footerPage-coderhouse;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footerPage .footerPage-coderhouse .footerPage-div {
      padding: 10px; }
      .footerPage .footerPage-coderhouse .footerPage-div .footerPage-div-h3 {
        font-family: helvetica-light;
        padding: 5px;
        color: white; }
  .footerPage .footerPage-redesSociales {
    grid-area: footerPage-redesSociales;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px; }
    .footerPage .footerPage-redesSociales .footerPage-redesSociales-h2 {
      font-family: helvetica-bold;
      padding: 10px;
      color: #E0FF00; }
    .footerPage .footerPage-redesSociales .footerPage-redesSociales-div {
      padding: 10px; }
  .footerPage .footerPage-copyright {
    grid-area: footerPage-copyright;
    display: flex;
    align-items: center;
    padding: auto;
    display: flex;
    justify-content: center; }
    .footerPage .footerPage-copyright .footerPage-copyright-h2 {
      font-family: helvetica-light;
      font-size: 12px;
      color: white; }
