@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: gobold-bold;
  src: url(../tipografia/GoboldBoldItalic.otf); }

@font-face {
  font-family: gobold-regular;
  src: url(../tipografia/GoboldRegularItalic.otf); }

@font-face {
  font-family: helvetica-bold;
  src: url(../tipografia/HelveticaNeue-Bold.ttf); }

@font-face {
  font-family: helvetica-light;
  src: url(../tipografia/HelveticaNeue-Light.ttf); }

@font-face {
  font-family: helvetica-medium;
  src: url(../tipografia/HelveticaNeue-Medium.ttf); }

@font-face {
  font-family: helvetica-thin;
  src: url(../tipografia/HelveticaNeue-Thin.ttf); }

@font-face {
  font-family: helvetica-ultralight;
  src: url(../tipografia/HelveticaNeue-Ultralight.ttf); }

/* Inicio del código para el proyecto coderconf */
.onePage {
  grid-area: onePage;
  width: 100%;
  height: 768px;
  padding: 0px;
  background-image: url(../images/prueba1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* header y navegación */
  /* Datos del main */ }
  .onePage .navegacion {
    display: flex;
    height: 5%;
    /* header */
    /* navegación */ }
    .onePage .navegacion .logo {
      padding: 0.625rem;
      width: 50%; }
      .onePage .navegacion .logo .eje > img {
        width: 90px;
        height: 26; }
    .onePage .navegacion .navbar {
      margin: 0%;
      padding: 0%;
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
      text-align: end; }
      .onePage .navegacion .navbar #btn-menu-checkbox {
        display: none; }
      .onePage .navegacion .navbar .btn-menu {
        display: block;
        width: 3.125rem;
        height: 3.125rem;
        padding: 0.625rem 0.625rem 0px 0.625rem; }
      .onePage .navegacion .navbar .btn-menu:hover {
        display: block;
        /* cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3); */ }
      .onePage .navegacion .navbar .menu {
        display: none; }
        .onePage .navegacion .navbar .menu .ul {
          display: block;
          display: flex;
          flex-direction: column;
          list-style: none; }
        .onePage .navegacion .navbar .menu .li {
          color: #F2F2F2; }
        .onePage .navegacion .navbar .menu .li:hover {
          background: rgba(0, 0, 0, 0.3); }
        .onePage .navegacion .navbar .menu .enlaceNavbar {
          display: block;
          padding: 0.8rem 0.625rem;
          text-decoration: none;
          font-family: helvetica-light;
          color: #F2F2F2;
          font-size: 1rem; }
      .onePage .navegacion .navbar #btn-menu-checkbox:checked ~ .menu {
        position: relative;
        display: block; }
  .onePage .pageOneArticle {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .onePage .pageOneArticle .pageOneArticle-divOne .pageOneArticle-divOne-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 1.70rem;
      color: #F2F2F2;
      line-height: 40px;
      text-align: center; }
    .onePage .pageOneArticle .pageOneArticle-divOne .pageOneArticle-divOne-h2b {
      font-size: 2.5rem; }
    .onePage .pageOneArticle .pageOneArticle-divTwo {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center; }
      .onePage .pageOneArticle .pageOneArticle-divTwo .pageOneArticle-divTwo-h3 {
        padding-bottom: 0.312rem;
        font-family: gobold-regular;
        text-transform: uppercase;
        font-size: 1rem;
        color: #F2F2F2;
        line-height: 1.5rem;
        text-align: center; }
    .onePage .pageOneArticle .pageOneArticle-divThree {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .onePage .pageOneArticle .pageOneArticle-divThree .pageOneArticle-divThree-a {
        width: 100%;
        padding: 0.625rem; }
        .onePage .pageOneArticle .pageOneArticle-divThree .pageOneArticle-divThree-a img {
          width: 293px;
          height: 52px; }
    .onePage .pageOneArticle .burbujas .burbujas-imgOne {
      width: 16px;
      position: absolute;
      left: 5%;
      bottom: 40%;
      animation: burbujaOne 4s linear infinite; }

@keyframes burbujaOne {
  0% {
    bottom: 30%; }
  50% {
    bottom: 45%; }
  100% {
    bottom: 75%; } }
    .onePage .pageOneArticle .burbujas .burbujas-imgTwo {
      width: 16px;
      position: absolute;
      right: 5%;
      bottom: 50%;
      animation: burbujaTwo 3s linear infinite; }

@keyframes burbujaTwo {
  0% {
    bottom: 40%; }
  50% {
    bottom: 60%; }
  100% {
    bottom: 75%; } }
  .onePage .anexo {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .onePage .anexo .anexo-divOne {
      padding: 0.625rem 0rem; }
      .onePage .anexo .anexo-divOne a > img {
        width: 293px;
        height: 52px; }
    .onePage .anexo .cuentaRegresiva {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divOne {
        padding-top: 1rem; }
        .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divOne .cuentaRegresiva-divOne-h2 {
          padding: 10px;
          font-size: 1.2rem;
          color: #F2F2F2;
          text-align: center;
          font-family: gobold-regular;
          text-transform: uppercase; }
      .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divTwo {
        display: flex; }
        .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divTwo .cuentaRegresiva-divTwo-div {
          margin: 5px;
          display: flex;
          flex-direction: column;
          background-color: #E0FF00;
          justify-content: center;
          width: 75px;
          height: 75px; }
          .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divTwo .cuentaRegresiva-divTwo-div .cuentaRegresiva-divTwo-div-h2 {
            padding: 5px 0px;
            font-size: 2rem;
            color: #131313;
            text-align: center;
            font-family: gobold-regular;
            text-transform: uppercase; }
          .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divTwo .cuentaRegresiva-divTwo-div .cuentaRegresiva-divTwo-div-p {
            font-size: 0.7rem;
            color: #131313;
            text-align: center;
            font-family: gobold-regular;
            text-transform: uppercase; }

.twoPage {
  grid-area: twoPage;
  width: 100%;
  height: 550px;
  margin: 0%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column; }
  .twoPage .twoPage-imagen {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .twoPage .twoPage-imagen .twoPage-imagen-flechas {
      display: none; }
    .twoPage .twoPage-imagen .twoPage-imagen-logo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 250px;
      height: 180px; }
  .twoPage .twoPage-texto {
    height: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .twoPage .twoPage-texto .twoPage-texto-h2 {
      padding: 1rem;
      text-align: center;
      font-size: 1rem; }
      .twoPage .twoPage-texto .twoPage-texto-h2 img {
        width: 200px;
        height: 50px; }
    .twoPage .twoPage-texto .twoPage-texto-p {
      font-family: helvetica-medium;
      padding: 1.5rem;
      font-size: 1rem;
      line-height: 1.2rem;
      text-align: center; }

.threePage {
  grid-area: threePage;
  margin: 0px;
  width: 100%;
  /* height: 130vh; */
  height: 832px;
  background-color: #F2F2F2; }
  .threePage .threePage-logo {
    height: 30%;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .threePage .threePage-logo .threePage-logo-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center;
      color: #8215bc; }
    .threePage .threePage-logo .threePage-logo-h3 {
      padding: 0.312rem;
      font-family: gobold-bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      line-height: 2.5rem; }
    .threePage .threePage-logo .threePage-logo-h4 {
      padding: 5px;
      font-size: 0.9rem;
      font-family: helvetica-medium;
      text-align: center;
      line-height: 20px; }
  .threePage .threePage-imagen {
    /* width: 100%; */
    height: 40%;
    display: flex;
    justify-content: center; }
    .threePage .threePage-imagen .threePage-imagen-img {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }

.fourPage {
  grid-area: fourPage;
  width: 100%;
  height: 1120px;
  padding: 1rem 0.312rem;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fourPage .fourPage-divSpeaker {
    width: 100%;
    height: 20%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 2.5rem;
      color: yellow;
      padding: 0.5rem; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h3 {
      font-family: helvetica-bold;
      font-size: 1.4rem;
      color: white;
      padding: 0.5rem; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-p {
      font-family: helvetica-thin;
      line-height: 1.2rem;
      padding: 0.5rem;
      font-size: 1rem;
      color: white;
      text-align: center; }
  .fourPage .fourPage-divInvitado {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem; }
    .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div .fourPage-divInvitado-divDatos-div-img {
        padding: 0.5rem; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 {
        display: flex;
        flex-direction: column; }
        .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 .fourPage-divInvitado-divDatos-div3 {
          display: flex;
          justify-content: center; }
          .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 .fourPage-divInvitado-divDatos-div3 .fourPage-divInvitado-divDatos-h2 {
            font-family: gobold-bold;
            text-transform: uppercase;
            padding: 0.5rem 0.5rem 0.5rem 3rem;
            font-size: 1.5rem;
            color: white;
            text-align: center; }
          .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 .fourPage-divInvitado-divDatos-div3 .fourPage-divInvitado-divDatos-img {
            width: 40px;
            height: 40px;
            padding: 0.5rem; }
        .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 .fourPage-divInvitado-divDatos-h2 {
          font-family: gobold-bold;
          text-transform: uppercase;
          padding: 0.5rem 0.5rem 0.5rem 3rem;
          font-size: 1.5rem;
          color: white;
          text-align: center; }
        .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 .fourPage-divInvitado-divDatos-img {
          width: 40px;
          height: 40px;
          padding: 0.5rem; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h3 {
        font-family: helvetica-light;
        padding: 0.312rem;
        font-size: 0.8rem;
        color: gray;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h4 {
        font-family: helvetica-thin;
        padding: 0.312rem;
        font-size: 0.8rem;
        color: #E0FF00;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-p {
        font-family: helvetica-light;
        padding: 0.312rem;
        font-size: 1rem;
        line-height: 1.2rem;
        color: white;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h5 {
        font-family: helvetica-light;
        padding: 0.312rem;
        font-size: 1rem;
        color: #E0FF00;
        text-align: center; }
  .fourPage .carousel {
    width: 100%;
    height: 30%; }
    .fourPage .carousel .carousel-speakerGral {
      padding: 0rem 1rem;
      display: flex;
      overflow-x: scroll; }
      .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker {
        display: flex;
        flex-direction: column; }
        .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker .carousel-speakerGral-speaker-img {
          width: 250px;
          padding: 1rem 2rem; }
        .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker .carousel-speakerGral-speaker-div {
          display: flex;
          flex-direction: column; }
          .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker .carousel-speakerGral-speaker-div .carousel-speakerGral-speaker-div-subdiv {
            display: flex;
            justify-content: center;
            align-items: center; }
            .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker .carousel-speakerGral-speaker-div .carousel-speakerGral-speaker-div-subdiv .carousel-speakerGral-speaker-div-h5 {
              padding-left: 2rem;
              padding-right: 0.5rem;
              text-align: center;
              color: #FFFFFF;
              font-family: gobold-regular;
              font-size: 1rem; }
            .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker .carousel-speakerGral-speaker-div .carousel-speakerGral-speaker-div-subdiv .carousel-speakerGral-speaker-div-img {
              width: 35px;
              height: 25px;
              padding: 0px 5px; }
          .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker .carousel-speakerGral-speaker-div .carousel-speakerGral-speaker-div-h6 {
            padding: 5px;
            text-align: center;
            color: #A5A5A5;
            font-family: helvetica-medium;
            font-size: 0.8rem; }
          .fourPage .carousel .carousel-speakerGral .carousel-speakerGral-speaker .carousel-speakerGral-speaker-div .carousel-speakerGral-speaker-div-p {
            padding: 5px;
            text-align: center;
            color: #E0FF00;
            font-family: helvetica-thin;
            font-size: 0.8rem; }

.fivePage {
  grid-area: fivePage;
  width: 100%;
  /* height: 100vh; */
  height: 640px;
  padding: 0.5rem; }
  .fivePage .fivePage-divTitle {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-h2 {
      padding: 0.5rem;
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 2rem;
      color: #8215BC;
      text-align: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-h3 {
      padding: 0.5rem;
      font-family: helvetica-bold;
      font-size: 1.5rem;
      text-align: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-p {
      padding: 0.5rem;
      font-family: helvetica-medium;
      font-size: 1rem;
      text-align: center;
      line-height: 1.2rem; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-p2 {
      padding: 0.5rem;
      font-family: helvetica-medium;
      font-size: 1rem;
      text-align: center; }
  .fivePage .fivePage-divGral {
    width: 100%;
    height: 70%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column; }
    .fivePage .fivePage-divGral .fivePage-divGral-imagen {
      display: none; }
    .fivePage .fivePage-divGral .fivePage-divGral-divTwo {
      overflow-y: scroll;
      padding: 0.5rem;
      display: flex;
      flex-direction: column; }
      .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda {
        width: auto;
        margin: 0px;
        padding: 0rem 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda .fivePage-divGral-agenda-divOne {
          width: auto;
          margin: 0px; }
        .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda .fivePage-divGral-agenda-divTwo .fivePage-divGral-agenda-h2 {
          padding: 0.5rem;
          font-family: gobold-bold;
          text-transform: uppercase;
          font-size: 1.3rem;
          color: #8215BC; }
        .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda .fivePage-divGral-agenda-divTwo .fivePage-divGral-agenda-h3 {
          padding: 0.5rem;
          font-family: gobold-regular;
          text-transform: uppercase;
          font-size: 1.3rem; }
        .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda .fivePage-divGral-agenda-divTwo .fivePage-divGral-agenda-h4 {
          padding: 0rem 0.5rem 0.5rem 0.5rem;
          font-family: helvetica-medium;
          font-size: 1rem;
          color: #8215BC; }
        .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda .fivePage-divGral-agenda-divTwo .fivePage-divGral-agenda-p {
          padding: 0rem 0.5rem 0.5rem 0.5rem;
          font-family: helvetica-medium;
          font-size: 0.8rem;
          color: #505050; }

.sixPage {
  grid-area: sixPage;
  width: 100%;
  height: 1120px;
  padding: 1.5rem;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sixPage .sixPage-div {
    width: 85%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .sixPage .sixPage-div .sixPage-div-h2 {
      padding: 5px;
      font-family: gobold-bold;
      text-transform: uppercase;
      color: #E4FF22;
      font-size: 3rem;
      text-align: center;
      line-height: 3rem; }
    .sixPage .sixPage-div .sixPage-div-h3 {
      padding: 5px;
      font-family: helvetica-bold;
      color: #FFFFFF;
      font-size: 1.5rem;
      text-align: center;
      line-height: 3rem; }
    .sixPage .sixPage-div .sixPage-div-p {
      padding: 5px;
      font-family: helvetica-medium;
      color: #FFFFFF;
      font-size: 0.8rem;
      text-align: center;
      line-height: 1rem; }
  .sixPage .sixPage-form {
    width: 100%;
    height: 70%;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sixPage .sixPage-form .sixPage-form-gral {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-content: center; }
      .sixPage .sixPage-form .sixPage-form-gral .sixPage-form-gral-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .sixPage .sixPage-form .sixPage-form-gral .sixPage-form-gral-div .sixPage-form-label {
          width: 90%;
          max-width: 400px;
          padding: 0rem 1rem;
          color: #FFFFFF;
          font-family: helvetica-light; }
        .sixPage .sixPage-form .sixPage-form-gral .sixPage-form-gral-div .sixPage-form-input {
          width: 90%;
          max-width: 400px;
          margin: 0.6rem 0rem;
          padding: 0.5rem;
          border: 1px solid #E4FF22;
          border-radius: 5px;
          background-color: #131313;
          color: #707070;
          font-family: helvetica-light; }
        .sixPage .sixPage-form .sixPage-form-gral .sixPage-form-gral-div ::placeholder {
          color: #707070;
          font-family: helvetica-light;
          padding-left: 0.8rem; }
        .sixPage .sixPage-form .sixPage-form-gral .sixPage-form-gral-div .eightPage-option {
          color: #E0FF00; }
    .sixPage .sixPage-form .sixPage-form-btn {
      margin: 1rem auto 0rem;
      padding: 15px 50px;
      background-color: #E4FF22;
      border: #E4FF22 1px solid;
      border-radius: 50px;
      color: black;
      font-family: helvetica-medium; }
  .sixPage .sixPage-divTwo .sixPage-divTwo-img {
    width: 300px;
    height: 300px; }

.sevenPage {
  grid-area: sevenPage;
  width: 100%;
  height: 640px;
  padding: 0.5rem; }
  .sevenPage .sevenPage-sponsors {
    height: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .sevenPage .sevenPage-sponsors .sevenPage-sponsors-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      color: #8215BC;
      font-size: 3rem;
      text-align: center; }
  .sevenPage .sevenPage-imgSponsors {
    width: 100%;
    height: 75%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* overflow-x: scroll; */ }
    .sevenPage .sevenPage-imgSponsors .sevenPage-imgSponsors-div {
      height: 33%;
      width: 125px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .sevenPage .sevenPage-imgSponsors .sevenPage-imgSponsors-div .sevenPage-imgSponsors-div-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }

.eightpage {
  grid-area: eightPage;
  width: 100%;
  height: 640px;
  padding: 1.5rem 0.5rem;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .eightpage .eightpage-div-title {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .eightpage .eightpage-div-title .eightpage-div-title-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 3.5rem;
      color: #8215BC;
      text-align: center; }
    .eightpage .eightpage-div-title .eightpage-div-title-h3 {
      width: 80%;
      font-family: helvetica-bold;
      margin: 1rem 0rem;
      font-size: 1.5rem;
      color: #131313;
      text-align: center; }
  .eightpage .eightpage-div-form {
    width: 100%;
    /* height: 70%; */ }
    .eightpage .eightpage-div-form .form {
      padding: 1rem;
      border: 1px solid #F2F2F2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .eightpage .eightpage-div-form .form .eightpage-div-form-label {
        width: 90%;
        max-width: 400px;
        color: #131313;
        font-family: helvetica-medium; }
      .eightpage .eightpage-div-form .form .input {
        width: 100%;
        max-width: 400px;
        margin: 0.5rem 0rem 1rem;
        padding: 0.5rem;
        border: 1px solid #8215BC;
        border-radius: 5px; }
      .eightpage .eightpage-div-form .form ::placeholder {
        font-family: helvetica-light;
        color: #8215BC;
        padding-left: 0.8rem; }
      .eightpage .eightpage-div-form .form .btn {
        margin: 2rem auto;
        padding: 0.8rem 5rem;
        font-family: helvetica-bold;
        background-color: #8215BC;
        border-radius: 2rem;
        color: #FFFFFF; }

.footerPage {
  grid-area: footerPage;
  width: 100%;
  /* height: 50vh; */
  height: 320px;
  padding: 1.5rem 1rem;
  background-color: black;
  display: grid;
  grid-template-areas: "footerPage-coderconf footerPage-coderhouse" "footerPage-redesSociales footerPage-redesSociales" "footerPage-copyright footerPage-copyright";
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.3fr 0.2fr; }
  .footerPage .footerPage-coderconf {
    grid-area: footerPage-coderconf;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footerPage .footerPage-coderconf .footerPage-h2 > img {
      width: 85px;
      height: 20px; }
    .footerPage .footerPage-coderconf .footerPage-div {
      padding: 0.5rem; }
      .footerPage .footerPage-coderconf .footerPage-div .footerPage-div-ul {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .footerPage .footerPage-coderconf .footerPage-div .footerPage-div-ul .footerPage-div-ul-li {
          padding: 0.312rem; }
        .footerPage .footerPage-coderconf .footerPage-div .footerPage-div-ul .footerPage-div-ul-li > a {
          text-decoration: none;
          font-family: helvetica-ultralight;
          font-size: 0.75rem;
          padding: 0.312rem;
          color: white; }
  .footerPage .footerPage-coderhouse {
    grid-area: footerPage-coderhouse;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footerPage .footerPage-coderhouse .footerPage-h2 .footerPage-h2-img {
      width: 85px;
      height: 20px; }
    .footerPage .footerPage-coderhouse .footerPage-div {
      padding: 0.5rem; }
      .footerPage .footerPage-coderhouse .footerPage-div .footerPage-div-ul {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .footerPage .footerPage-coderhouse .footerPage-div .footerPage-div-ul .footerPage-div-ul-li {
          padding: 0.312rem; }
        .footerPage .footerPage-coderhouse .footerPage-div .footerPage-div-ul .footerPage-div-ul-li > a {
          text-decoration: none;
          font-family: helvetica-ultralight;
          font-size: 0.75rem;
          padding: 0.312rem;
          color: white; }
  .footerPage .footerPage-redesSociales {
    grid-area: footerPage-redesSociales;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .footerPage .footerPage-redesSociales .footerPage-redesSociales-h2 {
      font-family: helvetica-medium;
      font-size: 0.75rem;
      color: #E0FF00;
      padding: 0.5rem; }
    .footerPage .footerPage-redesSociales .footerPage-redesSociales-div {
      padding: 0.5rem; }
      .footerPage .footerPage-redesSociales .footerPage-redesSociales-div .footerPage-logoRedes {
        padding: 2px;
        width: 20px;
        height: 20px; }
  .footerPage .footerPage-copyright {
    grid-area: footerPage-copyright;
    display: flex;
    align-items: center;
    padding: auto;
    display: flex;
    justify-content: center; }
    .footerPage .footerPage-copyright .footerPage-copyright-h2 {
      font-family: helvetica-ultralight;
      font-size: 0.75rem;
      color: white; }

/* ----------------- Media query para dispositivos entre 375 y 768px - Mobile first ----------------------------------------- */
@media screen and (min-width: 360px) and (max-width: 767px) {
  .body {
    width: 100%; } }

/* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
/* Media query para dispositivos entre 769px y 1200px - Tablet */
@media screen and (min-width: 768px) and (max-width: 1139px) {
  .body {
    width: 100%;
    /* onePage */ }
    .body .onePage {
      height: 624px;
      background-image: url(../images/fondoOnePageDesktop.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .body .onePage .navegacion {
        height: 10%; }
        .body .onePage .navegacion .logo > h1 {
          padding: 10px; }
        .body .onePage .navegacion .navbar {
          display: flex;
          flex-direction: row;
          justify-content: flex-end; }
          .body .onePage .navegacion .navbar .btn-menu {
            display: none; }
          .body .onePage .navegacion .navbar .menu {
            display: inline-block;
            margin: auto 1rem; }
            .body .onePage .navegacion .navbar .menu .ul {
              display: flex;
              flex-direction: row;
              justify-content: space-between; }
            .body .onePage .navegacion .navbar .menu .enlaceNavbar {
              padding: 0.5rem;
              font-size: 1.0rem; }
      .body .onePage .pageOneArticle {
        width: 40%;
        height: 70%;
        padding-bottom: 5rem; }
        .body .onePage .pageOneArticle .pageOneArticle-divOne {
          width: 90%;
          padding: 0rem 1rem; }
          .body .onePage .pageOneArticle .pageOneArticle-divOne .pageOneArticle-divOne-h2 {
            font-size: 1.5rem;
            line-height: 3rem;
            text-align: start; }
          .body .onePage .pageOneArticle .pageOneArticle-divOne .pageOneArticle-divOne-h2b {
            font-size: 2.5rem; }
        .body .onePage .pageOneArticle .pageOneArticle-divTwo {
          width: 90%;
          display: flex;
          flex-direction: row;
          padding: 0rem 1rem;
          justify-content: flex-start; }
          .body .onePage .pageOneArticle .pageOneArticle-divTwo .pageOneArticle-divTwo-h3 {
            padding: 0.5rem;
            text-align: start; }
        .body .onePage .pageOneArticle .burbujas .burbujas-imgOne {
          left: 50%; }
      .body .onePage .anexo {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
        .body .onePage .anexo .anexo-divOne {
          width: 40%;
          display: flex;
          justify-content: center; }
        .body .onePage .anexo .cuentaRegresiva {
          width: 60%;
          display: flex;
          flex-direction: row; }
          .body .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divOne {
            width: 33%;
            padding: 0px; }
            .body .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divOne .cuentaRegresiva-divOne-h2 {
              padding: 0px; }
          .body .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divTwo {
            width: 67%; }
    .body .twoPage {
      display: flex;
      flex-direction: row-reverse; }
      .body .twoPage .twoPage-imagen {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        position: relative; }
        .body .twoPage .twoPage-imagen .twoPageFlechaOne {
          position: absolute;
          left: 0%;
          display: block;
          animation: flechas 4s linear infinite; }
  @keyframes flechas {
    0% {
      bottom: 30%; }
    50% {
      bottom: 45%; }
    100% {
      bottom: 75%; } }
        .body .twoPage .twoPage-imagen .twoPageFlechaTwo {
          position: absolute;
          left: 95%;
          display: block;
          animation: flechasTwo 4s linear infinite; }
  @keyframes flechasTwo {
    0% {
      bottom: 10%; }
    50% {
      bottom: 30%; }
    100% {
      bottom: 50%; } }
        .body .twoPage .twoPage-imagen .twoPage-imagen-logo {
          width: 350px;
          height: 250px; }
      .body .twoPage .twoPage-texto {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column; }
        .body .twoPage .twoPage-texto .twoPage-texto-h2 img {
          width: 260px;
          height: 62px; }
        .body .twoPage .twoPage-texto .twoPage-texto-p {
          text-align: start;
          font-size: 19px;
          line-height: 24px; }
    .body .threePage {
      height: 500px;
      padding: 0.625rem 0rem;
      background-image: url(../images/movilJaxa3-tablet.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .body .threePage .threePage-logo {
        width: 40%;
        height: 50%;
        padding: 2rem;
        justify-content: flex-start; }
        .body .threePage .threePage-logo .threePage-logo-h2 {
          width: 100%; }
        .body .threePage .threePage-logo .threePage-logo-h3 {
          width: 100%;
          font-size: 38px;
          line-height: 48px;
          text-align: start; }
        .body .threePage .threePage-logo .threePage-logo-h4 {
          width: 100%;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: start; }
      .body .threePage .threePage-imagen {
        display: none; }
    .body .fourPage {
      height: 960px;
      background-image: url(../images/imagenFondoFourPage.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .body .fourPage .fourPage-divSpeaker {
        width: 65%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .body .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h2 {
          font-size: 3rem; }
        .body .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h3 {
          font-size: 1.6rem; }
        .body .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-p {
          font-size: 1.3rem;
          line-height: 1.6rem; }
      .body .fourPage .fourPage-divInvitado {
        height: 35%; }
        .body .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos {
          display: flex;
          flex-direction: row; }
          .body .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div {
            width: 50%;
            display: flex;
            justify-content: center; }
          .body .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 {
            width: 50%;
            display: flex;
            flex-direction: column; }
      .body .fourPage .carousel {
        height: 40%; }
    .body .fivePage .fivePage-divGral {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .body .fivePage .fivePage-divGral .fivePage-divGral-imagen {
        width: 15%;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .body .fivePage .fivePage-divGral .fivePage-divGral-divTwo {
        width: 85%; }
        .body .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda {
          justify-content: flex-start; }
    .body .sixPage {
      width: 100%;
      height: 640px;
      background-image: url(../images/imagenFondoSixPage.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .body .sixPage .sixPage-div .sixPage-div-h2 {
        font-size: 3.5rem; }
      .body .sixPage .sixPage-div .sixPage-div-h3 {
        font-size: 2rem; }
      .body .sixPage .sixPage-div .sixPage-div-p {
        font-size: 1rem; }
      .body .sixPage .sixPage-form .sixPage-form-gral {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3rem 0rem; }
        .body .sixPage .sixPage-form .sixPage-form-gral .sixPage-form-gral-div {
          width: 50%; }
          .body .sixPage .sixPage-form .sixPage-form-gral .sixPage-form-gral-div .sixPage-form-input {
            padding: 0.5rem 0.2rem; }
      .body .sixPage .sixPage-divTwo {
        display: none; }
    .body .sevenPage .sevenPage-sponsors .sevenPage-sponsors-h2 {
      font-size: 4rem; }
    .body .sevenPage .sevenPage-imgSponsors {
      flex-direction: row; }
      .body .sevenPage .sevenPage-imgSponsors .sevenPage-imgSponsors-div {
        width: 33%;
        height: 125px;
        padding: 10px 20px; }
        .body .sevenPage .sevenPage-imgSponsors .sevenPage-imgSponsors-div .sevenPage-imgSponsors-div-img {
          width: 175px;
          height: 175px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain; }
    .body .eightpage .eightpage-div-title {
      padding: 2rem; }
    .body .eightpage .eightpage-div-form .form .eightpage-div-form-label {
      padding-left: 20px; }
    .body .footerPage {
      height: 250px;
      grid-template-areas: "footerPage-coderconf footerPage-coderhouse footerPage-redesSociales" "footerPage-copyright footerPage-copyright footerPage-copyright";
      grid-template-columns: 0.33fr 0.33fr 0.34fr;
      grid-template-rows: 0.5fr 0.5fr; } }

/* ------------ navegacion ------------ */
/* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
/* Media query para dispositivos mayores a 1201px - Desktop */
@media screen and (min-width: 1140px) and (max-width: 2400px) {
  .body {
    width: 100%;
    /* onePage */ }
    .body .onePage {
      height: 624px;
      background-image: url(../images/fondoOnePageDesktop.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .body .onePage .navegacion {
        height: 10%; }
        .body .onePage .navegacion .logo > h1 {
          padding: 10px; }
        .body .onePage .navegacion .navbar {
          display: flex;
          flex-direction: row;
          justify-content: flex-end; }
          .body .onePage .navegacion .navbar .btn-menu {
            display: none; }
          .body .onePage .navegacion .navbar .menu {
            display: inline-block;
            margin: auto 1rem; }
            .body .onePage .navegacion .navbar .menu .ul {
              display: flex;
              flex-direction: row;
              justify-content: space-between; }
            .body .onePage .navegacion .navbar .menu .enlaceNavbar {
              padding: 0.5rem;
              font-size: 1.0rem; }
      .body .onePage .pageOneArticle {
        width: 40%;
        height: 70%;
        padding-bottom: 5rem; }
        .body .onePage .pageOneArticle .pageOneArticle-divOne {
          width: 90%;
          padding: 0rem 1rem; }
          .body .onePage .pageOneArticle .pageOneArticle-divOne .pageOneArticle-divOne-h2 {
            font-size: 1.5rem;
            line-height: 3rem;
            text-align: start; }
          .body .onePage .pageOneArticle .pageOneArticle-divOne .pageOneArticle-divOne-h2b {
            font-size: 2.5rem; }
        .body .onePage .pageOneArticle .pageOneArticle-divTwo {
          width: 90%;
          display: flex;
          flex-direction: row;
          padding: 0rem 1rem;
          justify-content: flex-start; }
          .body .onePage .pageOneArticle .pageOneArticle-divTwo .pageOneArticle-divTwo-h3 {
            padding: 0.5rem;
            text-align: start; }
        .body .onePage .pageOneArticle .burbujas .burbujas-imgOne {
          left: 50%; }
      .body .onePage .anexo {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
        .body .onePage .anexo .anexo-divOne {
          width: 40%;
          display: flex;
          justify-content: center; }
        .body .onePage .anexo .cuentaRegresiva {
          width: 60%;
          display: flex;
          flex-direction: row; }
          .body .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divOne {
            width: 33%;
            padding: 0px; }
            .body .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divOne .cuentaRegresiva-divOne-h2 {
              padding: 0px; }
          .body .onePage .anexo .cuentaRegresiva .cuentaRegresiva-divTwo {
            width: 67%; }
    .body .twoPage {
      display: flex;
      flex-direction: row-reverse; }
      .body .twoPage .twoPage-imagen {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        position: relative; }
        .body .twoPage .twoPage-imagen .twoPageFlechaOne {
          position: absolute;
          left: 0%;
          display: block;
          animation: flechas 4s linear infinite; }
  @keyframes flechas {
    0% {
      bottom: 30%; }
    50% {
      bottom: 45%; }
    100% {
      bottom: 75%; } }
        .body .twoPage .twoPage-imagen .twoPageFlechaTwo {
          position: absolute;
          left: 95%;
          display: block;
          animation: flechasTwo 4s linear infinite; }
  @keyframes flechasTwo {
    0% {
      bottom: 10%; }
    50% {
      bottom: 30%; }
    100% {
      bottom: 50%; } }
        .body .twoPage .twoPage-imagen .twoPage-imagen-logo {
          width: 350px;
          height: 250px; }
      .body .twoPage .twoPage-texto {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column; }
        .body .twoPage .twoPage-texto .twoPage-texto-h2 img {
          width: 260px;
          height: 62px; }
        .body .twoPage .twoPage-texto .twoPage-texto-p {
          text-align: start;
          font-size: 19px;
          line-height: 24px; }
    .body .threePage {
      height: 500px;
      padding: 0.625rem 0rem;
      background-image: url(../images/movilJaxa3-tablet.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .body .threePage .threePage-logo {
        width: 40%;
        height: 50%;
        padding: 2rem;
        justify-content: flex-start; }
        .body .threePage .threePage-logo .threePage-logo-h2 {
          width: 100%; }
        .body .threePage .threePage-logo .threePage-logo-h3 {
          width: 100%;
          font-size: 38px;
          line-height: 48px;
          text-align: start; }
        .body .threePage .threePage-logo .threePage-logo-h4 {
          width: 100%;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: start; }
      .body .threePage .threePage-imagen {
        display: none; }
    .body .fourPage {
      height: 960px;
      background-image: url(../images/imagenFondoFourPage.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .body .fourPage .fourPage-divSpeaker {
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .body .fourPage .fourPage-divInvitado {
        height: 35%; }
        .body .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos {
          display: flex;
          flex-direction: row;
          justify-content: space-around; }
          .body .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div {
            width: 50%; }
          .body .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 {
            width: 50%;
            display: flex;
            flex-direction: column; }
      .body .fourPage .carousel {
        height: 35%; }
    .body .fivePage .fivePage-divGral {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .body .fivePage .fivePage-divGral .fivePage-divGral-imagen {
        width: 15%;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .body .fivePage .fivePage-divGral .fivePage-divGral-divTwo {
        width: 85%; }
        .body .fivePage .fivePage-divGral .fivePage-divGral-divTwo .fivePage-divGral-agenda {
          justify-content: flex-start; }
    .body .sixPage {
      width: 100%;
      height: 640px;
      background-image: url(../images/imagenFondoSixPage.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .body .sixPage .sixPage-form {
        display: flex;
        flex-direction: column; }
        .body .sixPage .sixPage-form .sixPage-form-gral {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center; }
      .body .sixPage .sixPage-divTwo {
        display: none; }
    .body .sevenPage .sevenPage-imgSponsors {
      flex-direction: row; }
      .body .sevenPage .sevenPage-imgSponsors .sevenPage-imgSponsors-div {
        width: 33%;
        height: 125px;
        padding: 16px; }
    .body .eightpage .eightpage-div-title {
      padding: 2rem; }
    .body .footerPage {
      height: 250px;
      grid-template-areas: "footerPage-coderconf footerPage-coderhouse footerPage-redesSociales" "footerPage-copyright footerPage-copyright footerPage-copyright";
      grid-template-columns: 0.33fr 0.33fr 0.34fr;
      grid-template-rows: 0.5fr 0.5fr; } }
