@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: gobold-bold;
  src: url(../tipografia/GoboldBoldItalic.otf); }

@font-face {
  font-family: gobold-regular;
  src: url(../tipografia/GoboldRegularItalic.otf); }

@font-face {
  font-family: helvetica-bold;
  src: url(../tipografia/HelveticaNeue-Bold.ttf); }

@font-face {
  font-family: helvetica-light;
  src: url(../tipografia/HelveticaNeue-Light.ttf); }

@font-face {
  font-family: helvetica-medium;
  src: url(../tipografia/HelveticaNeue-Medium.ttf); }

@font-face {
  font-family: helvetica-thin;
  src: url(../tipografia/HelveticaNeue-Thin.ttf); }

@font-face {
  font-family: helvetica-ultralight;
  src: url(../tipografia/HelveticaNeue-Ultralight.ttf); }

/* Inicio del código para el proyecto coderconf */
.onePage {
  grid-area: onePage;
  width: 100%;
  height: 120vh;
  padding: 0px;
  background-image: url(../images/prueba1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* header y navegación */
  /* Datos del main */ }
  .onePage .navegacion {
    display: flex;
    height: 5%;
    /* header */
    /* navegación */ }
    .onePage .navegacion .logo {
      padding: 0.625rem;
      width: 50%; }
    .onePage .navegacion .navbar {
      margin: 0%;
      padding: 0%;
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end; }
      .onePage .navegacion .navbar #btn-menu-checkbox {
        display: none; }
      .onePage .navegacion .navbar .btn-menu {
        display: block;
        width: 3.125rem;
        height: 3.125rem;
        padding: 0.625rem 0.625rem 0px 0.625rem; }
      .onePage .navegacion .navbar .btn-menu:hover {
        display: block;
        /* cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3); */ }
      .onePage .navegacion .navbar .menu {
        display: none; }
        .onePage .navegacion .navbar .menu .ul {
          display: block;
          display: flex;
          flex-direction: column;
          list-style: none; }
        .onePage .navegacion .navbar .menu .li {
          color: white; }
        .onePage .navegacion .navbar .menu .li:hover {
          background: rgba(0, 0, 0, 0.3); }
        .onePage .navegacion .navbar .menu .enlaceNavbar {
          display: block;
          padding: 0.625rem 0.625rem;
          text-decoration: none;
          font-family: helvetica-light;
          color: white;
          font-size: 1rem; }
      .onePage .navegacion .navbar #btn-menu-checkbox:checked ~ .menu {
        position: relative;
        display: block; }
  .onePage .pageOne-article {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .onePage .pageOne-article .pageOne-title {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 1.75rem;
      color: white;
      line-height: 40px;
      text-align: center; }
    .onePage .pageOne-article .pageOne-title-h3 {
      padding-bottom: 0.312rem;
      font-family: gobold-regular;
      text-transform: uppercase;
      font-size: 1rem;
      color: white;
      line-height: 1.5rem;
      text-align: center; }
    .onePage .pageOne-article .pageOne-images {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .onePage .pageOne-article .pageOne-images .pageOne-imageOne {
        width: 100%;
        padding: 0.625rem; }
  .onePage .anexo {
    width: 100%;
    height: 30%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .onePage .anexo .anexo-imageOne {
      padding-bottom: 0.625rem; }
    .onePage .anexo .anexo-imageTwo {
      padding: 0px; }

.twoPage {
  grid-area: twoPage;
  width: 100%;
  height: 100vh;
  margin: 0%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column; }
  .twoPage .twoPage-imagen {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .twoPage .twoPage-imagen .twoPage-imagen-flechas {
      padding: 0rem 0.625rem; }
    .twoPage .twoPage-imagen .twoPage-imagen-logo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .twoPage .twoPage-texto {
    height: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .twoPage .twoPage-texto .twoPage-texto-h2 {
      padding: 1rem;
      text-align: center;
      font-size: 1rem; }
    .twoPage .twoPage-texto .twoPage-texto-p {
      font-family: helvetica-medium;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1.2rem;
      text-align: center; }

.threePage {
  grid-area: threePage;
  width: 100%;
  height: 100vh;
  background-color: #F2F2F2; }
  .threePage .threePage-logo {
    height: 33%;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .threePage .threePage-logo .threePage-logo-h3 {
      padding: 0.312rem;
      font-family: gobold-bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      line-height: 2.5rem; }
    .threePage .threePage-logo .threePage-logo-h4 {
      padding: 5px;
      font-family: helvetica-bold;
      text-align: center;
      line-height: 20px; }
  .threePage .threePage-imagen {
    width: 100%;
    height: 34%;
    display: flex;
    justify-content: center; }
    .threePage .threePage-imagen .threePage-imagen-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%; }

.fourPage {
  grid-area: fourPage;
  width: 100%;
  height: 200vh;
  padding: 1rem 0.312rem;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* .fourPage-divCarousel {
        width: 100%;
        height: 35%;
        padding: 0.5rem;
        .fourPage-divCarousel-divInvit {
            padding: 0.5rem;
            .fourPage-divCarousel-divInvit-h2 {
                font-family: gobold-regular;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: #E0FF00;
                text-align: center;
            }
        }
        .fourPage-divCarousel-carousel {
            width: 100%;
            padding: 0.5rem;
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        max-width: auto;
                        padding: 0.5rem;
                        .carousel-h5 {
                            font-family: gobold-regular;
                            text-transform: uppercase;
                            font-size: 24px;
                            color: white;
                            text-align: center;
                        }
                        .carousel-h6 {
                            font-family: helvetica-light;
                            font-size: 16px;
                            color: gray;
                            text-align: center;
                        }
                        .carousel-p {
                            font-family: helvetica-light;
                            font-size: 20px;
                            color: yellow;
                            text-align: center;
                        }
                    }
                }
            }
        }
    } */ }
  .fourPage .fourPage-divSpeaker {
    width: 100%;
    height: 15%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 2.5rem;
      color: yellow;
      padding: 0.5rem; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-h3 {
      font-family: helvetica-light;
      font-size: 1.5rem;
      color: white;
      padding: 0.5rem; }
    .fourPage .fourPage-divSpeaker .fourPage-divSpeaker-p {
      font-family: helvetica-thin;
      line-height: 1.2rem;
      padding: 0.5rem;
      font-size: 1rem;
      color: white;
      text-align: center; }
  .fourPage .fourPage-divInvitado {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem; }
    .fourPage .fourPage-divInvitado .fourPage-divInvitado-div {
      padding: 0.5rem;
      display: flex;
      justify-content: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-div .fourPage-divInvitado-div-h2 {
        font-family: gobold-regular;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: yellow; }
    .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div {
        /* width: 100%; */ }
        .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div .fourPage-divInvitado-divDatos-div-img {
          /* width: 100%; */
          padding: 0.5rem; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 {
        display: flex; }
        .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 .fourPage-divInvitado-divDatos-h2 {
          font-family: gobold-bold;
          text-transform: uppercase;
          padding: 0.5rem;
          font-size: 1.5rem;
          color: white;
          text-align: center; }
        .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-div2 .fourPage-divInvitado-divDatos-img {
          padding: 0.5rem; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h3 {
        font-family: helvetica-light;
        padding: 0.312rem;
        font-size: 1rem;
        color: gray;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h4 {
        font-family: helvetica-thin;
        padding: 0.312rem;
        font-size: 1rem;
        color: #E0FF00;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-p {
        font-family: helvetica-thin;
        padding: 0.312rem;
        font-size: 1rem;
        line-height: 1.2rem;
        color: white;
        text-align: center; }
      .fourPage .fourPage-divInvitado .fourPage-divInvitado-divDatos .fourPage-divInvitado-divDatos-h5 {
        font-family: helvetica-light;
        padding: 0.312rem;
        font-size: 1rem;
        color: #E0FF00;
        text-align: center; }

.fivePage {
  grid-area: fivePage;
  width: 100%;
  height: 100vh;
  padding: 0.5rem; }
  .fivePage .fivePage-divTitle {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-h2 {
      padding: 0.5rem;
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 2rem;
      color: #8215BC;
      text-align: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-h3 {
      padding: 0.5rem;
      font-family: helvetica-bold;
      font-size: 1.5rem;
      text-align: center; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-p {
      padding: 0.5rem;
      font-family: helvetica-light;
      font-size: 1rem;
      text-align: center;
      line-height: 1.2rem; }
    .fivePage .fivePage-divTitle .fivePage-divTitle-p2 {
      padding: 0.5rem;
      font-family: helvetica-medium;
      font-size: 1rem;
      text-align: center; }
  .fivePage .fivePage-divGral {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    padding: 0.5rem; }
    .fivePage .fivePage-divGral .fivePage-divGral-agenda {
      width: 100%;
      padding: 0.5rem; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-h2 {
        padding: 0.5rem;
        font-family: gobold-bold;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: #8215BC; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-h3 {
        padding: 0.5rem;
        font-family: gobold-regular;
        text-transform: uppercase;
        font-size: 1.3rem; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-h4 {
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        font-family: helvetica-medium;
        font-size: 1rem;
        color: #8215BC; }
      .fivePage .fivePage-divGral .fivePage-divGral-agenda .fivePage-divGral-agenda-p {
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        font-family: helvetica-regular;
        font-size: 1rem;
        color: #505050; }

.sixPage {
  grid-area: sixPage;
  width: 100%;
  /* height: 100vh; */
  padding: 1.5rem;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sixPage .sixPage-div {
    width: 100%;
    /* height: 30%; */ }
    .sixPage .sixPage-div .sixPage-div-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      color: #E4FF22;
      font-size: 2rem;
      text-align: center;
      line-height: 3rem; }
    .sixPage .sixPage-div .sixPage-div-h3 {
      font-family: helvetica-medium;
      color: white;
      font-size: 1.5rem;
      text-align: center;
      line-height: 3rem; }
    .sixPage .sixPage-div .sixPage-div-p {
      font-family: helvetica-thin;
      color: white;
      font-size: 1rem;
      text-align: center;
      line-height: 1.5rem; }
  .sixPage .sixPage-form {
    width: 100%;
    /* height: 70%; */
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sixPage .sixPage-form .sixPage-form-input {
      width: 90%;
      margin: 0.6rem 0rem;
      padding: 0.5rem;
      border: 1px solid #E4FF22;
      border-radius: 10px;
      background-color: black;
      color: #E4FF22;
      font-family: helvetica-light; }
    .sixPage .sixPage-form ::placeholder {
      color: gray;
      font-family: helvetica-light;
      padding-left: 0.8rem; }
    .sixPage .sixPage-form .eightPage-option {
      color: white; }
    .sixPage .sixPage-form .sixPage-form-btn {
      margin: 1rem auto 0rem;
      padding: 15px 50px;
      background-color: #E4FF22;
      border: #E4FF22 1px solid;
      border-radius: 50px;
      color: black;
      font-family: helvetica-medium; }

.sevenPage {
  grid-area: sevenPage;
  width: 100%;
  height: 100vh;
  padding: 0.5rem; }
  .sevenPage .sevenPage-sponsors {
    height: 20%;
    padding: 1.5rem; }
    .sevenPage .sevenPage-sponsors .sevenPage-sponsors-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      color: #8215BC;
      font-size: 48px;
      text-align: center; }
  .sevenPage .sevenPage-imgSponsors {
    height: 80%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .sevenPage .sevenPage-imgSponsors .sevenPage-imgSponsors div img {
      padding: 1.5rem 0rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }

.eightpage {
  grid-area: eightPage;
  width: 100%;
  /* height: 100vh; */
  padding: 1.5rem 1rem;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .eightpage .eightpage-div-title {
    width: 90%;
    /* height: 30%; */
    padding: 1rem; }
    .eightpage .eightpage-div-title .eightpage-div-title-h2 {
      font-family: gobold-bold;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 2.5rem;
      color: #8215BC;
      text-align: center; }
    .eightpage .eightpage-div-title .eightpage-div-title-h3 {
      font-family: helvetica-bold;
      margin: 0.5rem 0rem;
      font-size: 1.5rem;
      color: #131313;
      text-align: center; }
  .eightpage .eightpage-div-form {
    width: 100%;
    /* height: 70%; */ }
    .eightpage .eightpage-div-form .form {
      padding: 1rem;
      border: 1px solid #F2F2F2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .eightpage .eightpage-div-form .form .input {
        width: 100%;
        margin: 1rem 0rem;
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 10px; }
      .eightpage .eightpage-div-form .form ::placeholder {
        font-family: helvetica-bold;
        color: #8215BC; }
      .eightpage .eightpage-div-form .form .btn {
        margin: 2rem auto;
        padding: 1rem 3rem;
        background-color: #8215bc;
        border: black 1px solid;
        border-radius: 3rem;
        color: white; }

.footerPage {
  grid-area: footerPage;
  width: 100%;
  height: 50vh;
  padding: 1.5rem 1rem;
  background-color: black;
  display: grid;
  grid-template-areas: "footerPage-coderconf footerPage-coderhouse" "footerPage-redesSociales footerPage-redesSociales" "footerPage-copyright footerPage-copyright";
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.3fr 0.2fr; }
  .footerPage .footerPage-coderconf {
    grid-area: footerPage-coderconf;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footerPage .footerPage-coderconf .footerPage-div {
      padding: 0.5rem; }
      .footerPage .footerPage-coderconf .footerPage-div .footerPage-div-ul {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .footerPage .footerPage-coderconf .footerPage-div .footerPage-div-ul .footerPage-div-ul-li {
          padding: 0.312rem; }
        .footerPage .footerPage-coderconf .footerPage-div .footerPage-div-ul .footerPage-div-ul-li > a {
          text-decoration: none;
          font-family: helvetica-ultralight;
          font-size: 0.75rem;
          padding: 0.312rem;
          color: white; }
  .footerPage .footerPage-coderhouse {
    grid-area: footerPage-coderhouse;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footerPage .footerPage-coderhouse .footerPage-div {
      padding: 0.5rem; }
      .footerPage .footerPage-coderhouse .footerPage-div .footerPage-div-ul {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .footerPage .footerPage-coderhouse .footerPage-div .footerPage-div-ul .footerPage-div-ul-li {
          padding: 0.312rem; }
        .footerPage .footerPage-coderhouse .footerPage-div .footerPage-div-ul .footerPage-div-ul-li > a {
          text-decoration: none;
          font-family: helvetica-ultralight;
          font-size: 0.75rem;
          padding: 0.312rem;
          color: white; }
  .footerPage .footerPage-redesSociales {
    grid-area: footerPage-redesSociales;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .footerPage .footerPage-redesSociales .footerPage-redesSociales-h2 {
      font-family: helvetica-medium;
      font-size: 0.75rem;
      color: #E0FF00;
      padding: 0.5rem; }
    .footerPage .footerPage-redesSociales .footerPage-redesSociales-div {
      padding: 0.5rem; }
  .footerPage .footerPage-copyright {
    grid-area: footerPage-copyright;
    display: flex;
    align-items: center;
    padding: auto;
    display: flex;
    justify-content: center; }
    .footerPage .footerPage-copyright .footerPage-copyright-h2 {
      font-family: helvetica-ultralight;
      font-size: 0.75rem;
      color: white; }

/* ----------------- Media query para dispositivos entre 375 y 768px - Mobile first ----------------------------------------- */
@media screen and (min-width: 360px) and (max-width: 768px) {
  .body {
    width: 100%;
    /* height: 100vh; */
    /* display: grid;
            grid-template-areas: "onePage" "twoPage" "threePage" "fourPage" "fivePage" "sixPage" "sevenPage" "eightPage" "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */ } }

/* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
/* Media query para dispositivos entre 769px y 1200px - Tablet */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .body {
    width: 100%;
    /* height: 100vh; */
    /* display: grid;
            grid-template-areas: "onePage" "twoPage" "threePage" "fourPage" "fivePage" "sixPage" "sevenPage" "eightPage" "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */ }
  /* onePage */
  .onePage {
    height: 100vh;
    background-image: url(../images/fondoOnePageTablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .onePage .navegacion {
      height: 10%;
      /* padding: 5px; */ }
      .onePage .navegacion .logo {
        height: auto; }
      .onePage .navegacion .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .onePage .navegacion .navbar .btn-menu {
          display: none; }
        .onePage .navegacion .navbar .menu {
          display: inline-block;
          margin: auto 0px; }
          .onePage .navegacion .navbar .menu .ul {
            display: flex;
            flex-direction: row; }
    .onePage .pageOne-article {
      width: 50%;
      height: 60%; }
    .onePage .anexo {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
  .twoPage {
    display: flex;
    flex-direction: row-reverse; }
    .twoPage .twoPage-imagen {
      height: 100vh;
      width: 50%;
      display: flex;
      justify-content: space-around; }
    .twoPage .twoPage-texto {
      height: 100vh;
      width: 50%;
      display: flex; }
      .twoPage .twoPage-texto .twoPage-texto-h2 {
        position: relative;
        right: 20%; }
      .twoPage .twoPage-texto .twoPage-texto-p {
        text-align: start; }
  .threePage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .threePage .threePage-imagen {
      display: none; } }

/* ------------ navegacion ------------ */
/* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
/* Media query para dispositivos mayores a 1201px - Desktop */
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .body {
    width: 100%;
    /* height: 100vh; */
    /* display: grid;
            grid-template-areas: "onePage" "twoPage" "threePage" "fourPage" "fivePage" "sixPage" "sevenPage" "eightPage" "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */ } }
