.eightpage {
    grid-area: eightPage;
    width: 100%;
    /* height: 100vh; */
    height: 640px;
    padding: 1.5rem 0.5rem;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .eightpage-div-title {
        width: 100%;
        /* height: 30%; */
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .eightpage-div-title-h2 {
            font-family: gobold-bold;
            text-transform: uppercase;
            font-size: 3rem;
            line-height: 3.5rem;
            color: #8215BC;
            text-align: center;
        }
        .eightpage-div-title-h3 {
            width: 80%;
            font-family: helvetica-bold;
            margin: 1rem 0rem;
            font-size: 1.5rem;
            color: #131313;
            text-align: center;
        }
    }
    .eightpage-div-form {
        width: 100%;
        /* height: 70%; */
        .form {
            padding: 1rem;
            border: 1px solid #F2F2F2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .eightpage-div-form-label {
                width: 90%;
                color: #131313;
                font-family: helvetica-medium;
            }
            .input {
                width: 100%;
                margin: 0.5rem 0rem 1rem;
                padding: 0.5rem;
                border: 1px solid #8215BC;
                border-radius: 5px;
            }
             ::placeholder {
                font-family: helvetica-light;
                color: #8215BC;
                padding-left: 0.8rem;
            }
            .btn {
                margin: 2rem auto;
                padding: 0.8rem 5rem;
                font-family: helvetica-bold;
                background-color: #8215BC;
                border-radius: 2rem;
                color: #FFFFFF;
            }
        }
    }
}