.footerPage {
    grid-area: footerPage;
    width: 100%;
    height: 50vh;
    padding: 1.5rem 1rem;
    background-color: black;
    display: grid;
    grid-template-areas: "footerPage-coderconf footerPage-coderhouse" "footerPage-redesSociales footerPage-redesSociales" "footerPage-copyright footerPage-copyright";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.2fr;
    .footerPage-coderconf {
        grid-area: footerPage-coderconf;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footerPage-div {
            padding: 0.5rem;
            .footerPage-div-ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .footerPage-div-ul-li {
                    padding: 0.312rem;
                }
                .footerPage-div-ul-li>a {
                    text-decoration: none;
                    font-family: helvetica-ultralight;
                    font-size: 0.75rem;
                    padding: 0.312rem;
                    color: white;
                }
            }
        }
    }
    .footerPage-coderhouse {
        grid-area: footerPage-coderhouse;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footerPage-div {
            padding: 0.5rem;
            .footerPage-div-ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .footerPage-div-ul-li {
                    padding: 0.312rem;
                }
                .footerPage-div-ul-li>a {
                    text-decoration: none;
                    font-family: helvetica-ultralight;
                    font-size: 0.75rem;
                    padding: 0.312rem;
                    color: white;
                }
            }
        }
    }
    .footerPage-redesSociales {
        grid-area: footerPage-redesSociales;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
        .footerPage-redesSociales-h2 {
            font-family: helvetica-medium;
            font-size: 0.75rem;
            color: #E0FF00;
        }
        .footerPage-redesSociales-div {
            padding: 0.5rem;
        }
    }
    .footerPage-copyright {
        grid-area: footerPage-copyright;
        margin: 1rem 0rem;
        display: flex;
        align-items: center;
        padding: auto;
        display: flex;
        justify-content: center;
        .footerPage-copyright-h2 {
            font-family: helvetica-ultralight;
            font-size: 0.75rem;
            color: white;
        }
    }
}