.fourPage {
    grid-area: fourPage;
    width: 100%;
    /* height: 175vh; */
    height: 1120px;
    padding: 1rem 0.312rem;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fourPage-divSpeaker {
        width: 100%;
        height: 20%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fourPage-divSpeaker-h2 {
            font-family: gobold-bold;
            text-transform: uppercase;
            font-size: 2.5rem;
            color: yellow;
            padding: 0.5rem;
        }
        .fourPage-divSpeaker-h3 {
            font-family: helvetica-bold;
            font-size: 1.4rem;
            color: white;
            padding: 0.5rem;
        }
        .fourPage-divSpeaker-p {
            font-family: helvetica-thin;
            line-height: 1.2rem;
            padding: 0.5rem;
            font-size: 1rem;
            color: white;
            text-align: center;
        }
    }
    .fourPage-divInvitado {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        .fourPage-divInvitado-divDatos {
            width: 100%;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .fourPage-divInvitado-divDatos-div {
                .fourPage-divInvitado-divDatos-div-img {
                    padding: 0.5rem;
                }
            }
            .fourPage-divInvitado-divDatos-div2 {
                display: flex;
                .fourPage-divInvitado-divDatos-h2 {
                    font-family: gobold-bold;
                    text-transform: uppercase;
                    padding: 0.5rem 0.5rem 0.5rem 3rem;
                    font-size: 1.5rem;
                    color: white;
                    text-align: center;
                }
                .fourPage-divInvitado-divDatos-img {
                    width: 40px;
                    height: 40px;
                    padding: 0.5rem;
                }
            }
            .fourPage-divInvitado-divDatos-h3 {
                font-family: helvetica-light;
                padding: 0.312rem;
                font-size: 0.8rem;
                color: gray;
                text-align: center;
            }
            .fourPage-divInvitado-divDatos-h4 {
                font-family: helvetica-thin;
                padding: 0.312rem;
                font-size: 0.8rem;
                color: #E0FF00;
                text-align: center;
            }
            .fourPage-divInvitado-divDatos-p {
                font-family: helvetica-light;
                padding: 0.312rem;
                font-size: 1rem;
                line-height: 1.2rem;
                color: white;
                text-align: center;
            }
            .fourPage-divInvitado-divDatos-h5 {
                font-family: helvetica-light;
                padding: 0.312rem;
                font-size: 1rem;
                color: #E0FF00;
                text-align: center;
            }
        }
    }
    .carousel {
        width: 100%;
        height: 30%;
        .carousel-speakerGral {
            padding: 0rem 1rem;
            display: flex;
            overflow-x: scroll;
            .carousel-speakerGral-speaker {
                display: flex;
                flex-direction: column;
                .carousel-speakerGral-speaker-img {
                    width: 250px;
                    padding: 1rem 2rem;
                }
                .carousel-speakerGral-speaker-div {
                    display: flex;
                    flex-direction: column;
                    .carousel-speakerGral-speaker-div-subdiv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .carousel-speakerGral-speaker-div-h5 {
                            padding-left: 2rem;
                            padding-right: 0.5rem;
                            text-align: center;
                            color: #FFFFFF;
                            font-family: gobold-regular;
                            font-size: 1rem;
                        }
                        .carousel-speakerGral-speaker-div-img {
                            width: 35px;
                            height: 25px;
                            padding: 0px 5px;
                        }
                    }
                    .carousel-speakerGral-speaker-div-h6 {
                        padding: 5px;
                        text-align: center;
                        color: #A5A5A5;
                        font-family: helvetica-medium;
                        font-size: 0.8rem;
                    }
                    .carousel-speakerGral-speaker-div-p {
                        padding: 5px;
                        text-align: center;
                        color: #E0FF00;
                        font-family: helvetica-thin;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}