.fourPage {
    grid-area: fourPage;
    width: 100%;
    /* height: 200vh; */
    height: 1280px;
    padding: 1rem 0.312rem;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fourPage-divSpeaker {
        width: 100%;
        height: 15%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fourPage-divSpeaker-h2 {
            font-family: gobold-bold;
            text-transform: uppercase;
            font-size: 2.5rem;
            color: yellow;
            padding: 0.5rem;
        }
        .fourPage-divSpeaker-h3 {
            font-family: helvetica-bold;
            font-size: 1.5rem;
            color: white;
            padding: 0.5rem;
        }
        .fourPage-divSpeaker-p {
            font-family: helvetica-thin;
            line-height: 1.2rem;
            padding: 0.5rem;
            font-size: 1rem;
            color: white;
            text-align: center;
        }
    }
    .fourPage-divInvitado {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        .fourPage-divInvitado-div {
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            .fourPage-divInvitado-div-h2 {
                font-family: gobold-regular;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: yellow;
            }
        }
        .fourPage-divInvitado-divDatos {
            width: 100%;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .fourPage-divInvitado-divDatos-div {
                /* width: 100%; */
                .fourPage-divInvitado-divDatos-div-img {
                    /* width: 100%; */
                    padding: 0.5rem;
                }
            }
            .fourPage-divInvitado-divDatos-div2 {
                display: flex;
                .fourPage-divInvitado-divDatos-h2 {
                    font-family: gobold-bold;
                    text-transform: uppercase;
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    color: white;
                    text-align: center;
                }
                .fourPage-divInvitado-divDatos-img {
                    padding: 0.5rem;
                }
            }
            .fourPage-divInvitado-divDatos-h3 {
                font-family: helvetica-light;
                padding: 0.312rem;
                font-size: 1rem;
                color: gray;
                text-align: center;
            }
            .fourPage-divInvitado-divDatos-h4 {
                font-family: helvetica-thin;
                padding: 0.312rem;
                font-size: 1rem;
                color: #E0FF00;
                text-align: center;
            }
            .fourPage-divInvitado-divDatos-p {
                font-family: helvetica-thin;
                padding: 0.312rem;
                font-size: 1rem;
                line-height: 1.2rem;
                color: white;
                text-align: center;
            }
            .fourPage-divInvitado-divDatos-h5 {
                font-family: helvetica-light;
                padding: 0.312rem;
                font-size: 1rem;
                color: #E0FF00;
                text-align: center;
            }
        }
    }
    /* Carousel hecho con bootstrap */
    /* .fourPage-divCarousel {
        width: 100%;
        height: 35%;
        padding: 0.5rem;
        .fourPage-divCarousel-divInvit {
            padding: 0.5rem;
            .fourPage-divCarousel-divInvit-h2 {
                font-family: gobold-regular;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: #E0FF00;
                text-align: center;
            }
        }
        .fourPage-divCarousel-carousel {
            width: 100%;
            padding: 0.5rem;
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        max-width: auto;
                        padding: 0.5rem;
                        .carousel-h5 {
                            font-family: gobold-regular;
                            text-transform: uppercase;
                            font-size: 24px;
                            color: white;
                            text-align: center;
                        }
                        .carousel-h6 {
                            font-family: helvetica-light;
                            font-size: 16px;
                            color: gray;
                            text-align: center;
                        }
                        .carousel-p {
                            font-family: helvetica-light;
                            font-size: 20px;
                            color: yellow;
                            text-align: center;
                        }
                    }
                }
            }
        }
    } */
    .carousel {
        width: 100%;
        height: 35%;
        .carousel-speakerGral {
            padding: 1rem;
            display: flex;
            overflow-x: scroll;
            .carousel-speakerGral-speaker {
                display: flex;
                flex-direction: column;
                .carousel-speakerGral-speaker-img {
                    width: 250px;
                    padding: 1rem 2rem;
                }
                .carousel-speakerGral-speaker-div {
                    display: flex;
                    flex-direction: column;
                    .carousel-speakerGral-speaker-div-subdiv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .carousel-speakerGral-speaker-div-h5 {
                            text-align: center;
                            color: #FFFFFF;
                            font-family: gobold-regular;
                            font-size: 1rem;
                        }
                        .carousel-speakerGral-speaker-div-img {
                            padding: 0px 5px;
                        }
                    }
                    .carousel-speakerGral-speaker-div-h6 {
                        padding: 5px;
                        text-align: center;
                        color: #A5A5A5;
                        font-family: helvetica-medium;
                        font-size: 0.8rem;
                    }
                    .carousel-speakerGral-speaker-div-p {
                        padding: 5px;
                        text-align: center;
                        color: #E0FF00;
                        font-family: helvetica-medium;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}