/* Inicio del código para el proyecto coderconf */

.onePage {
    grid-area: onePage;
    width: 100%;
    height: 130vh;
    padding: 0px;
    background-image: url(../images/prueba3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* header y navegación */
    .navegacion {
        display: flex;
        height: 5%;
        /* header */
        .logo {
            padding: 10px;
            width: 50%;
        }
        /* navegación */
        .navbar {
            margin: 0%;
            padding: 0%;
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-end;
            #btn-menu-checkbox {
                display: none;
            }
            .btn-menu {
                display: block;
                width: 50px;
                height: 50px;
                padding: 10px;
                /* position: relative; */
            }
            .btn-menu:hover {
                display: block;
                /* cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3); */
            }
            .menu {
                display: none;
                .ul {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                }
                .li {
                    color: white;
                }
                .li:hover {
                    background: rgba(0, 0, 0, 0.3);
                }
                .enlaceNavbar {
                    display: block;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-family: helvetica-light;
                    color: white;
                    font-size: 1rem;
                }
            }
            #btn-menu-checkbox:checked~.menu {
                position: relative;
                display: block;
            }
        }
    }
    /* Datos del main */
    .pageOne-article {
        width: 100%;
        height: 65%;
        /* margin: 10px 0px; */
        /* padding: 0px 15px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .pageOne-title {
            font-family: gobold-bold;
            text-transform: uppercase;
            font-size: 28px;
            color: white;
            line-height: 40px;
            text-align: center;
        }
        .pageOne-title-h2 {
            font-family: gobold-regular;
            text-transform: uppercase;
            font-size: 24px;
            color: white;
            line-height: 24px;
            text-align: center;
        }
        .pageOne-title-h3 {
            font-size: 16px;
            color: white;
            line-height: 24px;
            text-align: center;
        }
        .pageOne-images {
            display: flex;
            flex-direction: column;
            align-items: center;
            .pageOne-imageOne {
                width: 100%;
                padding: 5px;
            }
        }
    }
    .anexo {
        width: 100%;
        height: 30%;
        padding: 5px;
        background-color: #151515;
        display: flex;
        flex-direction: column;
        align-items: center;
        .anexo-imageOne {
            padding: 0px 10px;
        }
        .anexo-imageTwo {
            padding: 10px;
        }
    }
}