/* Inicio del código para el proyecto coderconf */

.onePage {
    grid-area: onePage;
    width: 100%;
    height: 768px;
    padding: 0px;
    background-image: url(../images/prueba1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* header y navegación */
    .navegacion {
        display: flex;
        height: 5%;
        /* header */
        .logo {
            padding: 0.625rem;
            width: 50%;
            .eje>img {
                width: 90px;
                height: 26;
            }
        }
        /* navegación */
        .navbar {
            margin: 0%;
            padding: 0%;
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-end;
            text-align: end;
            #btn-menu-checkbox {
                display: none;
            }
            .btn-menu {
                display: block;
                width: 3.125rem;
                height: 3.125rem;
                padding: 0.625rem 0.625rem 0px 0.625rem;
            }
            .btn-menu:hover {
                display: block;
                /* cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3); */
            }
            .menu {
                display: none;
                .ul {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                }
                .li {
                    color: #F2F2F2;
                }
                .li:hover {
                    background: rgba(0, 0, 0, 0.3);
                }
                .enlaceNavbar {
                    display: block;
                    padding: 0.8rem 0.625rem;
                    text-decoration: none;
                    font-family: helvetica-light;
                    color: #F2F2F2;
                    font-size: 1rem;
                }
            }
            #btn-menu-checkbox:checked~.menu {
                position: relative;
                display: block;
            }
        }
    }
    /* Datos del main */
    .pageOneArticle {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .pageOneArticle-divOne {
            .pageOneArticle-divOne-h2 {
                font-family: gobold-bold;
                text-transform: uppercase;
                font-size: 1.70rem;
                color: #F2F2F2;
                line-height: 40px;
                text-align: center;
            }
            .pageOneArticle-divOne-h2b {
                font-size: 2.5rem;
            }
        }
        .pageOneArticle-divTwo {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            .pageOneArticle-divTwo-h3 {
                padding-bottom: 0.312rem;
                font-family: gobold-regular;
                text-transform: uppercase;
                font-size: 1rem;
                color: #F2F2F2;
                line-height: 1.5rem;
                text-align: center;
            }
        }
        .pageOneArticle-divThree {
            display: flex;
            flex-direction: column;
            align-items: center;
            .pageOneArticle-divThree-a {
                width: 100%;
                padding: 0.625rem;
                img {
                    width: 293px;
                    height: 52px;
                }
            }
        }
        .burbujas {
            .burbujas-imgOne {
                width: 16px;
                position: absolute;
                left: 5%;
                bottom: 40%;
                animation: burbujaOne 4s linear infinite;
            }
            @keyframes burbujaOne {
                0% {
                    bottom: 30%;
                }
                50% {
                    bottom: 45%;
                }
                100% {
                    bottom: 75%;
                }
            }
            .burbujas-imgTwo {
                width: 16px;
                position: absolute;
                right: 5%;
                bottom: 50%;
                animation: burbujaTwo 3s linear infinite;
            }
            @keyframes burbujaTwo {
                0% {
                    bottom: 40%;
                }
                50% {
                    bottom: 60%;
                }
                100% {
                    bottom: 75%;
                }
            }
        }
    }
    .anexo {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .anexo-divOne {
            padding: 0.625rem 0rem;
            a>img {
                width: 293px;
                height: 52px;
            }
        }
        .cuentaRegresiva {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .cuentaRegresiva-divOne {
                padding-top: 1rem;
                .cuentaRegresiva-divOne-h2 {
                    padding: 10px;
                    font-size: 1.2rem;
                    color: #F2F2F2;
                    text-align: center;
                    font-family: gobold-regular;
                    text-transform: uppercase;
                }
            }
            .cuentaRegresiva-divTwo {
                display: flex;
                .cuentaRegresiva-divTwo-div {
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    background-color: #E0FF00;
                    justify-content: center;
                    width: 75px;
                    height: 75px;
                    .cuentaRegresiva-divTwo-div-h2 {
                        padding: 5px 0px;
                        font-size: 2rem;
                        color: #131313;
                        text-align: center;
                        font-family: gobold-regular;
                        text-transform: uppercase;
                    }
                    .cuentaRegresiva-divTwo-div-p {
                        font-size: 0.7rem;
                        color: #131313;
                        text-align: center;
                        font-family: gobold-regular;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}