.sixPage {
    grid-area: sixPage;
    width: 100%;
    height: 100vh;
    padding: 15px 0px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sixPage-div {
        width: 90%;
        height: 25vh;
        /* border: 1px solid white; */
        .sixPage-div-h2 {
            color: #E4FF22;
            font-size: 36px;
            text-align: center;
            line-height: 48px;
        }
        .sixPage-div-h3 {
            color: white;
            font-size: 24px;
            text-align: center;
            line-height: 48px;
        }
        .sixPage-div-p {
            color: white;
            font-size: 16px;
            text-align: center;
            line-height: 24px;
        }
    }
    .sixPage-form {
        width: 90%;
        height: 75vh;
        padding-top: 15px;
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        align-items: center;
        .sixPage-form-input {
            width: 90%;
            margin: 10px 0px;
            padding: 5px 5px;
            border: 1px solid #E4FF22;
            border-radius: 2px;
            background-color: black;
            color: #E4FF22;
        }
         ::placeholder {
            color: #E4FF22;
        }
        .sixPage-form-btn {
            margin: 35px auto 0px;
            padding: 15px 50px;
            background-color: #E4FF22;
            border: #E4FF22 1px solid;
            border-radius: 50px;
            color: black;
        }
    }
}