.sixPage {
    grid-area: sixPage;
    width: 100%;
    height: 1200px;
    padding: 1rem;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sixPage-div {
        width: 85%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .sixPage-div-h2 {
            padding: 5px;
            font-family: gobold-bold;
            text-transform: uppercase;
            color: #E4FF22;
            font-size: 3rem;
            text-align: center;
            line-height: 3rem;
        }
        .sixPage-div-h3 {
            padding: 5px;
            font-family: helvetica-bold;
            color: #FFFFFF;
            font-size: 1.5rem;
            text-align: center;
            line-height: 3rem;
        }
        .sixPage-div-p {
            padding: 5px;
            font-family: helvetica-medium;
            color: #FFFFFF;
            font-size: 0.8rem;
            text-align: center;
            line-height: 1rem;
        }
    }
    .sixPage-form {
        width: 100%;
        height: 70%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sixPage-form-gral {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-content: center;
            .sixPage-form-gral-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .sixPage-form-label {
                    width: 90%;
                    max-width: 400px;
                    padding: 0rem 1rem;
                    color: #FFFFFF;
                    font-family: helvetica-light;
                }
                .sixPage-form-input {
                    width: 90%;
                    max-width: 400px;
                    margin: 0.6rem 0rem;
                    padding: 0.5rem;
                    border: 1px solid #E4FF22;
                    border-radius: 5px;
                    background-color: #131313;
                    color: #707070;
                    font-family: helvetica-light;
                }
                 ::placeholder {
                    color: #707070;
                    font-family: helvetica-light;
                    padding-left: 0.8rem;
                }
                .eightPage-option {
                    color: #E0FF00;
                }
            }
        }
        .sixPageCaptcha {
            width: 85%
        }
        .sixPage-form-btn {
            margin: 1rem auto 0rem;
            padding: 15px 50px;
            background-color: #E4FF22;
            border: #E4FF22 1px solid;
            border-radius: 50px;
            color: black;
            font-family: helvetica-medium;
        }
    }
    .sixPage-divTwo {
        .sixPage-divTwo-img {
            width: 300px;
            height: 300px;
        }
    }
}